<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster"/>
<style>
.w3-lobster {
    font-family: "Lobster", serif;
}
</style>
<title>403 error</title>
</head>
<body>
<div class="w3-panel w3-red w3-lobster w3-xxxlarge">
  <h3>Danger!</h3>
  <p>Vous n'etes pas autoriser à acceder à cette ressource.</p>
</div>  
</body>
</html>