<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine"/>
<style>
.w3-tangerine {
    font-family: "Tangerine", serif;
}
</style>
<body>

<header class="w3-container w3-teal">
  <h1 class="w3-tangerine w3-jumbo">Login BKS Banque</h1>
</header>

<div class="w3-container w3-half w3-margin ">

<form th:action="@{/login}" method="post" class="w3-container w3-card-4">

<p>
<label class="w3-label w3-validate">Name</label>
<input class="w3-input" type="text" style="width:40%" name="username" /></p>
<p>
<label class="w3-label w3-validate">Password</label>
<input class="w3-input" type="password" style="width:40%" name="password" /></p>

<p>
<button class="w3-btn w3-section w3-teal w3-ripple"> Log in </button></p>

</form>

<div  class="w3-panel w3-red" th:if="${param.error}">
Données incorecte !
</div>
<div  class="w3-panel w3-red" th:if="${param.logout}">
Vous etes déconecté !
</div>

</div>

</body>
</html> 